@import '../../styles/mixins.scss';
.home{
    min-height: $main-min-height;
    max-width: $max-width;
    margin: 0 auto;
}
.homeWrapper{
    width :100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap : 65px;

}