@import "../../styles/mixins.scss";

.blog{
    background: $background;
    padding: $padding;
    min-height: 440px;
    width :100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap : 25px;
    h4{
        font-weight: normal;
        font-size: 20px;
    }
}
.blogItem{
    background: #F9D7D7;
    width : 100%;
    height : 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding :$padding;
    p{
        letter-spacing: 2px;
    }
    a{
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            text-shadow: 0 0 20px #000;
        }
        &::after{
            content: "-->";
            margin-left: 10px;
        }
    }
}